.heading-content-1 {
    font-family: Pixel_Font;
    color: grey;
    font-size: 2rem;
    text-align: center;

}


.heading-content-2 {
    font-family: Pixel_Font;
    font-size: 2rem;
    text-align: center;
}

.heading-content-3 {
    font-family: Pixel_Font;
    color: grey;
    font-size: 2rem;
    text-align: center;

}