*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: SF_Pro_Regular;
    src: url(Website_Fonts/SF-Pro-Rounded-Regular.otf);
}

@font-face {
    font-family: Bradley_hand;
    src: url(Website_Fonts/Bradley_Hand.ttf);
}

@font-face {
    font-family: SF_Pro_Light;
    src: url(Website_Fonts/SF-Pro-Rounded-Light.otf);
}

@font-face {
    font-family: Pixel_Font;
    src: url(Website_Fonts/PixelifySans-VariableFont_wght.ttf);
}

.total-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    max-width: 750px;
    margin-top: 50px;
    margin-bottom: 100px;

}


.main-heading {
    justify-content: space-around;
}


.blog-title {
    font-family: SF_Pro_Regular;
}

.content {
    font-size: 1.2rem;
    font-family: SF_Pro_Light ;
    padding: 30px;
    justify-content: center;
}